<!doctype html>
<html>

	<head>
		<title></title>
		<style>

		</style>
	</head>

	<body ng-app="scopeExample">

		<div ng-controller="MyController">
			Your name:
			<input type="text" ng-model="username">
			<button ng-click='sayHello()'>greet</button>
			<hr> {{greeting}}
		</div>

		<script src="../common/angular.min.js" type="text/javascript"></script>
		<script>
			angular.module('scopeExample', [])
				.controller('MyController', ['$scope', function($scope) {
					$scope.username = 'World';
					$scope.sayHello = function() {
						$scope.greeting = 'Hello ' + $scope.username + '!';
					};
				}]);
		</script>
	</body>

</html>